#card{
    height: 35vh;  
    background-color: rgb(92, 21, 92);
    img{
        border-radius: 50%;
        width: 50px;
    }
    #name{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
    }
    #position{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(192, 63, 84);
    }
    #comment{
        color: rgba(255, 255, 255, 0.692);
        text-align: justify;
        padding: 15px;
    }
}