#summary{
    h1{
        color: rgb(73, 0, 73);;
        font-weight: bolder;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        justify-content: center;
    }
    p{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgba(119, 116, 116, 0.952);
        font-size: 12px;
        justify-content: center;
        margin-top: 2%;
        letter-spacing: 2px;
    }
}